<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block header_title %}{% endblock header_title %}</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/theme.css">
  </head>
  <body>
    <div class="main">
      <h1>{% block title %}{% endblock title %}</h1>
      <hr>

      {% block content %}
      {% endblock content %}

    </div>
  </body>
</html>
