{% extends "base.html.j2" %}

{% block header_title %}
  TSNL / Home
{% endblock header_title %}

{% block title %}
  TSNL / Home
{% endblock title %}

{% block content %}
  <p>Welcome to TSNL's website.</p>

  <p>This website is still under construction. Large sections are incomplete.</p>

  <p>Here are some links you can visit:</p>

  <ul>
    <li><a href="/blog.html">Blog</a></li>
    <li><a href="/qr-target.html">QR Code Target</a></li>
    <li><a href="/webapp-index.html">Web-Apps</a></li>
    <li><a href="/downloads-index.html">Downloads</a></li>
  </ul>
{% endblock content %}
